//
//  Staging.xcconfig
//  ConfigurationDemo
//
//  Created by MBA0049 on 8/2/19.
//  Copyright © 2019 MBA0049. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = Donate Staging
IS_APP_VERSION = 0.2
IS_APP_BUNDLE_ID = com.intensifystudio.DonateStaging
